
body {
  font: 12px "Courier New", Courier, monospace;
}

.container {
  text-align: center;
  padding: 100px 0 0 0;
  clear: both;
}

.canvas {
  border: 8px solid #666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -webkit-transform: translateZ(0);
}
