.description {
	background: rgba(16, 16, 16, 0.5);
	border-radius: 8px 8px 0 0;
	bottom: 0px;
	color: rgb(238, 238, 238);
	font-family: sans-serif;
	font-size: 0.9em;
	height: auto;
	max-width: 240px;
	padding: 8px;
	position: absolute;
	right: 5px;
	user-select: none;
	width: auto;
	z-index: 100;
}
.description .title {
	text-transform: uppercase;
	font-weight: bolder;
}
.description .right {
	text-align: right;
}
